#!/usr/bin/make -f

clean:
	dh clean
	rm -rf lockbook

build:
	dh build
	git clone https://github.com/lockbook/lockbook.git
	cargo build --release --locked --manifest-path lockbook/clients/linux/Cargo.toml

binary:
	mkdir -p debian/lockbook-desktop/usr/bin
	mkdir -p debian/lockbook-desktop/usr/share/applications
	mkdir -p debian/lockbook-desktop/usr/share/pixmaps

	mv lockbook/clients/linux/target/release/lockbook lockbook/clients/linux/target/release/lockbook-desktop
	strip --strip-all debian/lockbook-desktop/usr/bin/lockbook-desktop

	install -D -m755 "lockbook/clients/linux/target/release/lockbook-desktop" "debian/lockbook-desktop/usr/bin/lockbook-desktop"
	install -D -m644 "lockbook/graphics/SVGs/dark-1.svg" "debian/lockbook-desktop/usr/share/pixmaps"
	install -D -m644 "lockbook-desktop.desktop" "debian/lockbook-desktop/usr/share/pixmaps"

	dh_gencontrol
	dh_builddeb
